

/*  ROOT Element*/

html {
  font-size: 18px;
  font-family: Helvetica;
}


/*  Classes*/

.flex {
  display: flex;
  justify-content: center;
}

.spaced {
  justify-content: space-between;
  align-items: center;
}

.container {
  width: 960px;
  margin: auto;
}


/*  MAIN*/

main {
  line-height: 1.4rem;
}

/*  LOGO (HEADER and FOOTER)*/

header img,
footer img {
  height: 1.5rem;
  width: auto;
}

header figcaption,
footer figcaption {
  font-size: 1rem;

  margin-left: 1rem;
}

header li {
  margin-left: 2rem;
}

/*  Intro section*/

#intro {
  color: black;
  background-image: url('../images/glasses-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 30rem;
}

header {
  color: white;
  background-color: cadetblue;

  position: relative;
  top: 1rem;
  padding: 1rem 2rem;
  z-index: 5;
}

header p {
  display: none;
}

#title-parent {
  justify-content: flex-end;
}

#title {
  background-color: white;

  position: relative;
  top: 10rem;
  right: -2rem;
  padding: 1.5rem 5rem;
}

h1 {
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/*  Figures section*/

#figures figure{
  margin: 3rem;
  height: 8rem;
  /*display: flex;*/
  flex-direction: column;
}

#figures div {
  margin: auto;
  margin-top: 0;
}

#figures figcaption {
  text-align: center;
}

#paper img {
  width: 3.5rem;
}

#ruler img,
#truck img {
  width: 5rem;
}

/*  Info section*/

#info {
  margin-top: 3rem;
  margin-bottom: 5rem;

  justify-content: center;
}

#info > div {
  width: 35%;
  margin-right: 5%;
}

#info div div {
  background-color: cadetblue;
  color: white;

  width: 10rem;
  padding: 0.5rem 1.25rem;
}

#info h2 {
  font-weight: bold;
  font-size: 1rem;
}

#info p {
  margin-top: 1rem;
}


/*  FOOTER*/

footer {
  background-color: azure;
  color: black;
}

footer figure {
  margin: 4rem;
}


/*  Medias Query*/

/*  Width between 1024px and 768px*/
@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
  }
  header {
    top: 0;
  }
  #intro {
    height: 22rem;
  }

  #title {
    top: 5rem;
    padding: 0.75rem 4rem;
    right: 4rem;
  }
  h1 {
    font-size: 1.33rem;
  }
}

/*  Width 768px and bellow*/
@media screen and (max-width: 768px) {
  header figcaption {
    display: none;
  }
  header nav {
    display: none;
  }
  header p {
    display: inline;
  }
  #intro {
    background-position: 20%;
    height: 17rem;
  }
  #title {
    top: 9rem;
    right: 0;
    width: 100%;
    padding: 1rem;
  }
  h1 {
    font-size: 1rem;
    text-align: center;
  }
  #figures {
    flex-direction: column;
    padding: 3.77rem 0;
  }
  #figures figure {
    margin: 0;
  }
  #figures figcaption {
    font-size: 0.77rem;
    margin-bottom: 1.54rem;
  }
  #truck figcaption {
    margin-bottom: 0;
  }
  #info {
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
  }
  #info > div {
    width: 100%;
    margin: 0;
    justify-content: center;
  }
  #info div div {
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
  }
  #info p {
    padding-left: 0.4rem;
    font-size: 0.77rem;
    margin-bottom: 4rem;
  }
  #footer {
    justify-content: center;
  }
  footer figcaption {
    display: none;
  }
}
